.article-detail-source {
    color: #008b8b;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-text {
    font-size: 1.5rem;
}

.article-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 100%;
    padding: 20px;
    background-color: white;
    gap: 20px;
    overflow-x: hidden;
}

.article-detail-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    align-items: center;
}

.article-detail-icon {
    width: 2rem;
    height: 2rem;
}

.article-detail-title {
    color: #1e293b;
    text-align: center;
    font-size: 2.4rem;
    max-width: 922px;
    margin: 0;
}

.article-detail-author-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.article-detail-author {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.article-detail-author-name {
    color: #475569;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}

.article-detail-publish-date {
    color: #475569;
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0;
}

.article-detail-image {
    max-width: 922px;
    max-height: 512px;
    height: auto;
}

.article-detail-content-text {
    color: #475569;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 1rem;
    max-width: 922px;
}

.article-detail-read-more {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.article-detail-read-more:hover {
    background-color: #0056b3;
}

.notification {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .loading-text {
        font-size: 1.2rem;
    }

    .article-detail-title {
        font-size: 1.5rem;
    }

    .article-detail-author-name {
        font-size: 1rem;
    }

    .article-detail-publish-date {
        font-size: 0.75rem;
    }

    .article-detail-content-text {
        font-size: 0.875rem;
    }
}
